@font-face {
  font-family: 'Silkscreen';
  src: './styles/silkscreen/slkscr.ttf';
}

.boop {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: cadetblue;

  background-image: url(../pixel_landscape.png);
  // background: linear-gradient(#e66465, #9198e5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // opacity: 0.6;
}

#gameboard {
  border: 5px solid black;
  border-bottom: 0px;
  cursor: crosshair;

  // width: 800px;
  // height: 500px;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 44px;
  border: 5px solid black;
  border-top: 0px;
  background-color: #996700;
}

a {
  margin-right: 5px;
}

.game-container {
  display: flex;
  align-items: flex-start;
  background-color: black;
  padding: 20px;
  // padding-bottom: 5px;
  border-radius: 35px 35px 35px 35px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, li {
  // font-family: Silkscreen;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

nav {
  display: flex;
}

button {
  // font-family: Silkscreen;
  font-family: Courier;
  font-weight: bold;
  color: white;
  font-size: 14px;
  background-color: black;
  border-color: #A6D609;
  width: 130px;
  height: 40px;
  margin-right: 5px;
  border-radius: 35px 35px 35px 35px;
  cursor: pointer;
}

.volume {
  height: 40px;
  width: 40px;
  margin-left: 5px;
}

// .vol-up {
//   display: none;
// }

.mute {
  height: 36px;
  width: 36px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  border-radius: 35px 35px 35px 35px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 400px;
  border: 3px solid black;
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  // font-family: Silkscreen;
  font-family: Courier;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#game {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#panel {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#screen {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  // margin-right: 15px;
}

#panel > img {
  margin-bottom: 30px;
}