@font-face {
  font-family: 'Silkscreen';
  src: './styles/silkscreen/slkscr.ttf';
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#gameboard {
  border: 5px solid black;
  cursor: crosshair;

  // width: 800px;
  // height: 500px;
}